# Rust
target/
**/*.rs.bk
*.pdb

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


# Configuration files with sensitive data
.env
*.key
config.toml 

Helpful_Source_code_subs2srs
Source_code_subs2srs
Test_Subs/Detour-1945-Public_domain.mkv

# File video/audio grandi
*.mkv
*.mp4
*.avi
*.mov
*.wav
*.mp3
*.flac
.directory


original_subs2srs
subs2srs_source
Test_Subs/Interstellar-en.srt
Test_Subs/Interstellar-it.srt
Test_Subs/Trainspotting-en.srt
Test_Subs/Trainspotting-it.srt
Test_Subs/Zootopia-en.srt
Test_Subs/Zootopia-it.srt
Test_Subs/Uncut Gems-en.srt
Test_Subs/Uncut Gems-it.srt