pkgbase = vesta-bin
	pkgdesc = Video Extraction, Sync & Translation for Anki
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/pierspad/VESTA
	arch = x86_64
	license = GPL-3.0-only
	depends = glibc
	depends = glib2
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = libsoup3
	depends = cairo
	depends = gdk-pixbuf2
	depends = pango
	depends = hicolor-icon-theme
	depends = libappindicator-gtk3
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = gst-plugins-ugly
	depends = gst-libav
	provides = vesta
	conflicts = vesta
	options = !debug
	source = vesta-0.3.0.deb::https://github.com/pierspad/VESTA/releases/download/v0.3.0/vesta_0.3.0_amd64.deb
	source = LICENSE::https://raw.githubusercontent.com/pierspad/VESTA/main/LICENSE
	sha256sums = 0000000000000000000000000000000000000000000000000000000000000000
	sha256sums = SKIP

pkgname = vesta-bin
