[Desktop Entry]
Name=vesta
Comment=Video Extraction, Sync & Translation for Anki
Exec=vesta
Icon=vesta
Type=Application
Categories=AudioVideo;Education;Utility;
Terminal=false
StartupWMClass=vesta
